body {
    background-color: #1a1a2e; /* Dark violet background */
    color: #ececec; /* Light text for contrast */
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #2d2d44;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 900px;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand, .nav-link {
    color: #ececec !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: #d9b3ff !important;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2d2d44; /* Slightly lighter dark tone for contrast */
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.header-image {
    width: 100%;
    border-radius: 15px;
}

.header-title {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
    font-weight: bold;
    color: #d9b3ff; /* Violet tone */
}

.review-card {
    background-color: #3b3b5e; /* Subtle card contrast */
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px 20px 5px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.review-card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.btn-custom {
    background-color: #6b52a7; /* Violet button color */
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.btn-games {
    background-color: #6b52a7; /* Violet button color */
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
}

.btn-custom:hover {
    background-color: #8a6dd1;
}

.btn-games:hover {
    background-color: #8a6dd1;
}

.games-container {
    display: flex;
}

.left {
    flex: 3;
}

.right {
    flex: 7;
}

.card-img {
    object-fit: cover;
    height: 5em;
    border-radius: 5px;
}

.top-games {
    border-radius: 10px;
    background-color: #3b3b5e;
    margin: 20px 0;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.summary-box {
    height: 17em;
    transition: all 0.5s ease;
}

.summary-box.expanded {
    height: 50em;
}

.expandable {
  height: 100%;
}

footer {
    text-align: center;
    margin: 20px 0;
    color: #a2a2c1;
}
